bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
*.sln.iml


logs/
*.log

.DS_Store
Thumbs.db

.env
.env.*
appsettings.Development.json


docker-compose.override.yml
**/docker-data/
**/sqlserver_data/


CatalogoWeb/wwwroot/images/*
!CatalogoWeb/wwwroot/images/README.md
