@{
    Layout = null;
}

<h2>Login</h2>

<form method="post">
    <div>
        Nickname
        <input name="username" />
    </div>
    <div>
        Password
        <input
            type="password"
            name="password"
        />
    </div>
    <button>Login</button>
</form>

@if(ViewBag.Error!=null)
{
    <p>@ViewBag.Error</p>
}

<a href="/Account/Register">Registrarse</a>